.area-selection {
    background-color: rgba(74, 144, 217, 0.5);
    border: 1px solid rgba(74, 144, 217, 1);

    /*
    imgur colors

    background-color: rgba(133, 191, 37, 0.5);
    border: 1px solid rgb(133, 191, 37);
    */
}

